---
import Welcome from "../components/Welcome.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { NICK_NAME_AUTHOR } from "../consts";
---

<BaseLayout pageTitle={NICK_NAME_AUTHOR}>
  <main>
    <Welcome />
  </main>
</BaseLayout>;
