---
import Welcome from "../components/Welcome.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Home Cesar Cori";
---

<BaseLayout pageTitle={pageTitle}>
  <main>
    <Welcome />
  </main>
</BaseLayout>;
