<h1 class="text-2xl hover:bg-sky-700">Hello, everybody!</h1>
<p>Welcome to my webpage where you can learn all about me.</p>
<p>Sometimes I write some posts on my personal blog that might interest you.</p>
<p>I'm a software developer who enjoys challenges.</p>

<div
  class="mx-auto flex max-w-sm items-center gap-x-4 rounded-xl bg-white p-6 shadow-lg outline outline-black/5 dark:bg-slate-800 dark:shadow-none dark:-outline-offset-1 dark:outline-white/10"
>
  <img class="size-12 shrink-0" src="/logo-cc.svg" alt="ChitChat Logo" />
  <div>
    <div class="text-xl font-medium text-black dark:text-white">ChitChat</div>
    <p class="text-gray-500 dark:text-gray-400">You have a new message!</p>
  </div>
</div>
